In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("kidney_disease_test.csv")

In [3]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,hemo,pcv,wc,rc,htn,dm,cad,appet,pe,ane
0,209,19.0,70.0,1.020,0.0,0.0,NaN,normal,notpresent,notpresent,...,11.5,NaN,6900.0,NaN,no,no,no,good,no,no
1,280,47.0,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,13.3,52,8100.0,5.2,no,no,no,good,no,no
2,33,60.0,100.0,1.020,2.0,0.0,abnormal,abnormal,notpresent,notpresent,...,10.1,29,NaN,NaN,yes,no,no,poor,no,no
3,210,59.0,100.0,1.015,4.0,2.0,normal,normal,notpresent,notpresent,...,7.3,20,9800.0,3.9,yes,yes,yes,good,no,yes
4,93,73.0,100.0,1.010,3.0,2.0,abnormal,abnormal,present,notpresent,...,9.2,30,7000.0,3.2,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60,67.0,90.0,1.020,1.0,0.0,NaN,abnormal,present,notpresent,...,NaN,NaN,NaN,NaN,yes,no,no,good,no,no
116,79,56.0,80.0,1.010,1.0,0.0,NaN,normal,notpresent,notpresent,...,13.5,40,11800.0,5.0,yes,yes,no,poor,yes,no
117,285,66.0,70.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,16.0,41,5300.0,5.9,no,no,no,good,no,no
118,305,41.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,17.1,41,9100.0,5.2,no,no,no,good,no,no
119,281,55.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,15.5,41,9100.0,6.0,no,no,no,good,no,no

In [4]:
dataset.isnull().sum()

id        0
age       4
bp        3
sg       11
al       11
su       11
rbc      45
pc       15
pcc       0
ba        0
bgr      11
bu        5
sc        5
sod      20
pot      20
hemo     13
pcv      19
wc       28
rc       37
htn       1
dm        1
cad       1
appet     1
pe        1
ane       1
dtype: int64

In [5]:
#1)Replace the missing value with central tendency-Mean Median Mode
#2)Entire Row delete
#3)Respective to the problem, have to replace the missing values
#4)Consider this as a semi supervised, create a model, so that we can  predict the missing values.

In [6]:
quan=[]
qual=[]
for columnName in dataset.columns:
   # print(columnName)
    if(dataset[columnName].dtype=='O'):
        #print("qual")
        qual.append(columnName)
    else:
       # print("quan")
        quan.append(columnName)

In [7]:
quan

['id',
 'age',
 'bp',
 'sg',
 'al',
 'su',
 'bgr',
 'bu',
 'sc',
 'sod',
 'pot',
 'hemo',
 'wc',
 'rc']

In [8]:
qual

['rbc', 'pc', 'pcc', 'ba', 'pcv', 'htn', 'dm', 'cad', 'appet', 'pe', 'ane']

In [9]:
dataset[quan]

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,wc,rc
0,209,19.0,70.0,1.020,0.0,0.0,NaN,NaN,NaN,NaN,NaN,11.5,6900.0,NaN
1,280,47.0,80.0,NaN,NaN,NaN,93.0,33.0,0.9,144.0,4.5,13.3,8100.0,5.2
2,33,60.0,100.0,1.020,2.0,0.0,140.0,55.0,2.5,NaN,NaN,10.1,NaN,NaN
3,210,59.0,100.0,1.015,4.0,2.0,255.0,132.0,12.8,135.0,5.7,7.3,9800.0,3.9
4,93,73.0,100.0,1.010,3.0,2.0,295.0,90.0,5.6,140.0,2.9,9.2,7000.0,3.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60,67.0,90.0,1.020,1.0,0.0,141.0,66.0,3.2,138.0,6.6,NaN,NaN,NaN
116,79,56.0,80.0,1.010,1.0,0.0,165.0,55.0,1.8,NaN,NaN,13.5,11800.0,5.0
117,285,66.0,70.0,1.020,0.0,0.0,94.0,19.0,0.7,135.0,3.9,16.0,5300.0,5.9
118,305,41.0,80.0,1.020,0.0,0.0,122.0,25.0,0.8,138.0,5.0,17.1,9100.0,5.2
119,281,55.0,80.0,1.025,0.0,0.0,130.0,50.0,1.2,147.0,5.0,15.5,9100.0,6.0

In [10]:
dataset[qual]

,rbc,pc,pcc,ba,pcv,htn,dm,cad,appet,pe,ane
0,NaN,normal,notpresent,notpresent,NaN,no,no,no,good,no,no
1,NaN,NaN,notpresent,notpresent,52,no,no,no,good,no,no
2,abnormal,abnormal,notpresent,notpresent,29,yes,no,no,poor,no,no
3,normal,normal,notpresent,notpresent,20,yes,yes,yes,good,no,yes
4,abnormal,abnormal,present,notpresent,30,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...
115,NaN,abnormal,present,notpresent,NaN,yes,no,no,good,no,no
116,NaN,normal,notpresent,notpresent,40,yes,yes,no,poor,yes,no
117,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
118,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
119,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no

In [11]:
#missing values replace dataset same time multiple column
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan,strategy='mean')
imp.fit(dataset[quan])
df=imp.transform(dataset[quan])

In [12]:
df

array([[2.09000000e+02, 1.90000000e+01, 7.00000000e+01, ...,
        1.15000000e+01, 6.90000000e+03, 4.70963855e+00],
       [2.80000000e+02, 4.70000000e+01, 8.00000000e+01, ...,
        1.33000000e+01, 8.10000000e+03, 5.20000000e+00],
       [3.30000000e+01, 6.00000000e+01, 1.00000000e+02, ...,
        1.01000000e+01, 8.51847826e+03, 4.70963855e+00],
       ...,
       [2.85000000e+02, 6.60000000e+01, 7.00000000e+01, ...,
        1.60000000e+01, 5.30000000e+03, 5.90000000e+00],
       [3.05000000e+02, 4.10000000e+01, 8.00000000e+01, ...,
        1.71000000e+01, 9.10000000e+03, 5.20000000e+00],
       [2.81000000e+02, 5.50000000e+01, 8.00000000e+01, ...,
        1.55000000e+01, 9.10000000e+03, 6.00000000e+00]])

In [13]:
#create table 
df = pd.DataFrame(df,columns = quan)

In [14]:
df

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo,wc,rc
0,209.0,19.0,70.0,1.020000,0.0,0.000000,143.165138,58.447826,3.226957,138.11,4.358,11.500000,6900.000000,4.709639
1,280.0,47.0,80.0,1.017339,1.0,0.477064,93.000000,33.000000,0.900000,144.00,4.500,13.300000,8100.000000,5.200000
2,33.0,60.0,100.0,1.020000,2.0,0.000000,140.000000,55.000000,2.500000,138.11,4.358,10.100000,8518.478261,4.709639
3,210.0,59.0,100.0,1.015000,4.0,2.000000,255.000000,132.000000,12.800000,135.00,5.700,7.300000,9800.000000,3.900000
4,93.0,73.0,100.0,1.010000,3.0,2.000000,295.000000,90.000000,5.600000,140.00,2.900,9.200000,7000.000000,3.200000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,60.0,67.0,90.0,1.020000,1.0,0.000000,141.000000,66.000000,3.200000,138.00,6.600,12.514953,8518.478261,4.709639
116,79.0,56.0,80.0,1.010000,1.0,0.000000,165.000000,55.000000,1.800000,138.11,4.358,13.500000,11800.000000,5.000000
117,285.0,66.0,70.0,1.020000,0.0,0.000000,94.000000,19.000000,0.700000,135.00,3.900,16.000000,5300.000000,5.900000
118,305.0,41.0,80.0,1.020000,0.0,0.000000,122.000000,25.000000,0.800000,138.00,5.000,17.100000,9100.000000,5.200000
119,281.0,55.0,80.0,1.025000,0.0,0.000000,130.000000,50.000000,1.200000,147.00,5.000,15.500000,9100.000000,6.000000

In [15]:
#missing values replace dataset same time multiple column
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan,strategy='most_frequent')
imp.fit(dataset[qual])
dff=imp.transform(dataset[qual])

In [16]:
dff

array([['normal', 'normal', 'notpresent', ..., 'good', 'no', 'no'],
       ['normal', 'normal', 'notpresent', ..., 'good', 'no', 'no'],
       ['abnormal', 'abnormal', 'notpresent', ..., 'poor', 'no', 'no'],
       ...,
       ['normal', 'normal', 'notpresent', ..., 'good', 'no', 'no'],
       ['normal', 'normal', 'notpresent', ..., 'good', 'no', 'no'],
       ['normal', 'normal', 'notpresent', ..., 'good', 'no', 'no']],
      dtype=object)

In [18]:
#create table 
dff = pd.DataFrame(dff,columns = qual)

In [19]:
dff

,rbc,pc,pcc,ba,pcv,htn,dm,cad,appet,pe,ane
0,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
1,normal,normal,notpresent,notpresent,52,no,no,no,good,no,no
2,abnormal,abnormal,notpresent,notpresent,29,yes,no,no,poor,no,no
3,normal,normal,notpresent,notpresent,20,yes,yes,yes,good,no,yes
4,abnormal,abnormal,present,notpresent,30,yes,yes,yes,poor,no,no
...,...,...,...,...,...,...,...,...,...,...,...
115,normal,abnormal,present,notpresent,41,yes,no,no,good,no,no
116,normal,normal,notpresent,notpresent,40,yes,yes,no,poor,yes,no
117,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
118,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no
119,normal,normal,notpresent,notpresent,41,no,no,no,good,no,no